@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <br />

        <footer>
            <div class="border-top px-4">
                <p>&copy; Mc2.CrudTest.Presentation 2021</p>
            </div>
        </footer>
    </main>

</div>
